* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
    
    background-image: url("/imgs/bg-pic3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.login-box,
.signup-box {
    background: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: rgba(214, 216, 222, 0.1);
    backdrop-filter: blur(10px);
}

.login-box h2,
.signup-box h2{
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgba(173, 216, 230, 0.299);
}
.input-group input::placeholder{
    color: white;
}
.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}
.navigationText {
    margin-top: 12px;
}
span{
    color: purple;
    text-decoration: underline;
}
.login-box{
    display: none;
}
