body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    background: rgba(90, 178, 241, 0.193);
}

/* HEADER-LEFT */

.header-left {
    text-align: center;
    display: flex;
    gap: 8px;
}
#menu-button{
    margin: 16px;
    padding: 0px 20px;
    border: none;
    background: rgba(0, 0, 255, 0.755);
    color: white;
    border-radius: 6px;
    font-size: 16px;
    
}
#menu-button:hover{
    background: rgba(0, 0, 255, 0.522);
}

/* HEADER-RIGHT */
.header-right{
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-right img {
    width: 16%;
    padding-right: 8px;
}

/* HEADER-CONTAINER */

.main-container {
    display: flex;
    height: 90vh;
}

/* HEADWE */
.nav-contain {
    flex: 1;
    border-radius: 14px;
    margin: 8px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
 #active {
    color: blue;
}

.icons i{
     font-size: 22px;
}

.create_task{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.create_task:hover{
    background: rgba(173, 216, 230, 0.199);
}
.create_category{
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.359);
    border-radius: 16px;
    margin: 10px;
}
.create_category:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.category, .reminder, .rate, .all_task, .setting, .profile {
    border-radius: 6px;
    padding:0px 8px;
}

li:hover{
    color: blue;
}
.logout{
    background: rgba(255, 0, 0, 0.086);
    border-radius: 6px;
    display: flex;
    justify-content: center;

}
.logout:hover{
    background: none;
    border: 1px solid rgba(255, 0, 0, 0.421);
    color: red;
}
/* MAIN */
.main-content-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    
}

/* MAIN-TOP */
.main-top {
    flex: 1;
    border-radius: 14px;
    margin: 8px;
    margin-bottom: 0px;
    
}


/* MAIN-BUTTON */
.mian-button {
    flex: 2;
    border-radius: 14px;
    margin: 8px;
}